TodoAPI/.idea


TodoAPI/TodoAPI/appsettings.Development.json
TodoAPI/TodoAPI/Properties/PublishProfiles/
TodoAPI/TodoAPI/obj

TodoAPI/TodoAPI/bin
TodoAPI/TodoAPI/v15/.suo
TodoAPI/TodoAPI/bin
TodoAPI/TodoAPI/obj
TodoAPI/ToDoApi.userprefs
